.hero{
    min-height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
    position:relative;
    overflow:hidden;
}

.hero::before{
content:"";
position:absolute;
width:600px;
height:600px;
background:radial-gradient(circle,#ff6b3d33,transparent 70%);
filter:blur(120px);
top:-200px;
left:-200px;
}

.hero-title{
font-size:70px;
font-weight:800;
text-align:center;
}

.hero-title span{
color:#ff6b3d;
position:relative;
z-index:2;
}

.hero-title span::before{
content:"";
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
width:500px;
height:200px;
background:radial-gradient(circle,#ff6b3d55,transparent 70%);
filter:blur(60px);
z-index:-1;
}

.hero h1{
margin-bottom:20px;
color:#fff;
}

.hero p{
color:#d1d5db;
}

.hero button{
margin-top:30px;
padding:14px 35px;
font-size:18px;
background:#ffc83d;
border:none;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.hero button:hover{
background:#ffb700;
transform:translateY(-2px);
}

